@media (min-width: 375px) {
    hr {
        width: 100px;
        border: 1px solid rgb(75, 74, 74);
    }
    .secTwo {
        padding-bottom: 80px;
        padding-top: 50px;
    }
    .secTwoAbout {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
}
